In [5]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

np.random.seed(26)

In [6]:
# Define date range (5 years of daily data)
start_date = datetime(2019, 1, 1)
end_date = datetime(2024, 12, 31)
date_series = pd.date_range(start=start_date, end=end_date, freq='D')

In [9]:
# Initialize dataset with zero values
num_days = len(date_series)
data = {
    'DATE': date_series,
    'SUBSCRIBERS_GAINED': np.zeros(num_days, dtype=int),
    'SUBSCRIBERS_LOST': np.zeros(num_days, dtype=int),
    'VIEWS': np.zeros(num_days, dtype=int),
    'WATCH_HOURS': np.zeros(num_days, dtype=int),
    'LIKES': np.zeros(num_days, dtype=int),
    'SHARES': np.zeros(num_days, dtype=int),
    'COMMENTS': np.zeros(num_days, dtype=int)
}
df = pd.DataFrame(data)
df.head()

,DATE,SUBSCRIBERS_GAINED,SUBSCRIBERS_LOST,VIEWS,WATCH_HOURS,LIKES,SHARES,COMMENTS
0,2019-01-01,0,0,0,0,0,0,0
1,2019-01-02,0,0,0,0,0,0,0
2,2019-01-03,0,0,0,0,0,0,0
3,2019-01-04,0,0,0,0,0,0,0
4,2019-01-05,0,0,0,0,0,0,0